@charset "UTF-8";

.loginContainer {
  text-align: center;
  width: 350px;
  img {
    width: 70px;
    border-radius: 50%;
  }
  .el-card {
    padding: 30px 30px 0 30px;
  }
  .el-button {
    width: 100%;
    margin-top: 15px;
  }
  .el-radio {
    margin-top: 14px;
  }
}
