body {
  margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    background: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ft14{
  font-size: 14px;
}

.ft18 {
  font-size: 18px;
  font-weight: bold;
}

.pd10{
  padding: 10px;
}

.pd20 {
  padding: 20px;
}

.pd40 {
  padding: 40px;
}

.pd040{
  padding: 0 40px;
}

.mt15{
  margin-top: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mb20{
  margin-bottom: 20px;
}

.ml50{
  margin-left: 50px;
}

.bs{
  box-sizing: border-box;
}

.fl{
  float: left;
}

.bd {
  border: 1px solid #fff;
  box-shadow: 5px 5px 5px #999;
  box-sizing: border-box;
  border-radius: 35px;
}

.bg {
  background: rgb(255, 255, 255);
}

.cl66 {
  color: #666;
}

.cursor {
  cursor: pointer;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
