@charset "UTF-8";

.loginContainer {
  text-align: center;
  width: 350px;
  img {
    width: 70px;
    border-radius: 50%;
  }
  .el-card {
    padding: 30px 30px 0 30px;
  }
  .el-button {
    width: 100%;
    margin-top: 15px;
  }
  .el-radio {
    margin-top: 14px;
  }
}

.home {
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}

.header {
  width: 100vw;
  height: 60px;
  line-height: 60px;
  border-radius: 0 0 35px 35px;
  border-top: 0;
  color: #666;
  background: rgb(180, 180, 180);
}

.container {
  width: 100vw;
  height: calc(100vh - 60px);
  box-sizing: border-box;
}

.aside {
  width: 200px;
  height: 100%;
  overflow: hidden;
}

.main {
  width: calc(100% - 200px);
  height: 100%;
}

/deep/ .el-submenu__title {
  padding: 0 50px;
}


